In [3]:
% pylab inline

%load_ext autoreload
%autoreload 2
import os
import time
import csv
import warnings

import requests
import urllib.request
import bs4
from bs4 import BeautifulSoup
import pandas as pd
from tqdm import tqdm

import indeed_scraping

warnings.filterwarnings("ignore")

%config InlineBackend.figure_format = 'retina'

DATA_DIR = os.path.join(os.getcwd(), 'data')
try:
    os.makedirs(DATA_DIR)
except FileExistsError:
    pass

Populating the interactive namespace from numpy and matplotlib

### Filters

In [2]:
pick_levels = [
    'senior_level', 'mid_level', #'entry_level'
]

indeed_experience_filter = ['exp_61_120', 'exp_25_60', 'exp_121+', 'exp_12_24']
indeed_degree_filter = [
#     'bachelor', 'associate','diploma'
    'doctor', 'master',
]
min_jobs = 5
min_resumes = 25

### Metropolital areas

#### Download data

In [4]:
urllib.request.urlretrieve(
    'https://www2.census.gov/programs-surveys/popest/datasets/2010-2017/metro/totals/cbsa-est2017-alldata.csv', 
    os.path.join(DATA_DIR, 'cbsa-est2017-alldata.csv'))

('/Users/keld/poseidon/data/cbsa-est2017-alldata.csv',
 <http.client.HTTPMessage at 0x10907ac50>)

Download free version of city map information here https://simplemaps.com/data/us-cities to data folder.

Link will be to: https://simplemaps.com/static/data/us-cities/uscitiesv1.4.csv

In [10]:
assert os.path.exists(os.path.join(DATA_DIR, 'uscitiesv1.4.csv')), 'follow steps above'

You are ready to proceed

#### Join metropolitan area data

In [3]:
df_us_cities = pd.read_csv(os.path.join(DATA_DIR, 'uscitiesv1.4.csv'))
df_us_cities['county'] = df_us_cities['county_name']

In [4]:
df_us_cities = df_us_cities[['state_id', 'city', 'county', 'population_proper', 'lat', 'lng']].fillna(0)

In [5]:
df_us_cities.head()

  state_id            city  county  population_proper      lat       lng
0       WA   Prairie Ridge  Pierce                0.0  47.1443 -122.1408
1       WA          Edison  Skagit                0.0  48.5602 -122.4311
2       WA        Packwood   Lewis                0.0  46.6085 -121.6702
3       WA  Wautauga Beach  Kitsap                0.0  47.5862 -122.5482
4       WA          Harper  Kitsap                0.0  47.5207 -122.5196

In [6]:
df_cbsa = pd.read_csv(os.path.join(DATA_DIR, 'cbsa-est2017-alldata.csv'), encoding = "latin1")

In [7]:
df_cbsa[['CBSA', 'NAME', 'STCOU']].columns

Index(['CBSA', 'NAME', 'STCOU'], dtype='object')

In [8]:
print('Unique number of CBSA:', len(df_cbsa['CBSA'].unique()))

Unique number of CBSA: 933

In [9]:
df_cbsa = df_cbsa[['CBSA', 'NAME', 'STCOU']]
df_cbsa['county'] = df_cbsa['NAME'].apply(lambda x: x.split(', ')[0].replace(' County', ''))
df_cbsa['state_id'] = df_cbsa['NAME'].apply(lambda x: x.split(', ')[1])

In [10]:
df_cbsa.head()

    CBSA                  NAME    STCOU         county state_id
0  24940  Abbeville County, SC  45001.0      Abbeville       SC
1  10100          Aberdeen, SD      NaN       Aberdeen       SD
2  10140          Aberdeen, WA      NaN       Aberdeen       WA
3  10180           Abilene, TX      NaN        Abilene       TX
4  29180     Acadia Parish, LA  22001.0  Acadia Parish       LA

In [11]:
df_areas = df_cbsa.join(df_us_cities.set_index(['county', 'state_id']), on=['county', 'state_id'], how='inner')
df_areas = df_areas

In [12]:
df_areas.head()[['CBSA', 'county', 'state_id', 'city', 'population_proper', 'lat', 'lng']]

,CBSA,county,state_id,city,population_proper,lat,lng
0,24940,Abbeville,SC,Antreville,0.0,34.2971,-82.5541
0,24940,Abbeville,SC,Donalds,341.0,34.3766,-82.3467
0,24940,Abbeville,SC,Calhoun Falls,1953.0,34.0933,-82.5963
0,24940,Abbeville,SC,Lowndesville,123.0,34.2100,-82.6476
0,24940,Abbeville,SC,Lake Secession,0.0,34.2821,-82.5908

In [13]:
df_areas = df_areas.reset_index(drop=True)

In [14]:
df_areas.head()

,CBSA,NAME,STCOU,county,state_id,city,population_proper,lat,lng
0,24940,"Abbeville County, SC",45001.0,Abbeville,SC,Antreville,0.0,34.2971,-82.5541
1,24940,"Abbeville County, SC",45001.0,Abbeville,SC,Donalds,341.0,34.3766,-82.3467
2,24940,"Abbeville County, SC",45001.0,Abbeville,SC,Calhoun Falls,1953.0,34.0933,-82.5963
3,24940,"Abbeville County, SC",45001.0,Abbeville,SC,Lowndesville,123.0,34.2100,-82.6476
4,24940,"Abbeville County, SC",45001.0,Abbeville,SC,Lake Secession,0.0,34.2821,-82.5908

### demand

In [15]:
df_demand = pd.read_csv(os.path.join(DATA_DIR, 'cyber+security_all_partitions.tsv'), sep='\t')
df_demand = df_demand[['company_name', 'location', 'partition', 'title']]
df_demand['location'] = df_demand['location'].str.strip()

In [16]:
df_demand['level'] = df_demand['partition'].apply(lambda x: x.split('-')[1])
df_demand['salary_est'] = df_demand['partition'].apply(lambda x: x.split('-')[1])

In [17]:
df_demand = df_demand[df_demand['level'].isin(pick_levels)]

In [18]:
df_demand['level'].unique()

array(['senior_level', 'mid_level'], dtype=object)

In [19]:
len(df_demand)

15594

In [20]:
df_demand = df_demand[df_demand['location'].apply(lambda x: ', ' in x)]
df_demand['city'] = df_demand['location'].apply(lambda x: x.split(', ')[0])
df_demand['state_id'] = df_demand['location'].apply(lambda x: x.split(', ')[1])

In [21]:
df_demand.head()

,company_name,location,partition,title,level,salary_est,city,state_id
0,Jackson-National-Life-Insurance-Company,"Lansing, MI","cyber+security-senior_level-$120,000","AVP, Cybersecurity Response",senior_level,senior_level,Lansing,MI
1,Occidental-Petroleum,"Houston, TX","cyber+security-senior_level-$120,000",IT Cyber Security Advisor,senior_level,senior_level,Houston,TX
2,\n Ingersoll Consulting Inc.,"Washington, DC","cyber+security-senior_level-$120,000",Cyber Security Engineer - Lead,senior_level,senior_level,Washington,DC
3,Saab,"Syracuse, NY","cyber+security-senior_level-$120,000",Senior Staff Systems Engineer; Saab Defense an...,senior_level,senior_level,Syracuse,NY
4,\n Executive Office of Energy and Environme...,"Boston, MA","cyber+security-senior_level-$120,000",Chief Information Security Officer,senior_level,senior_level,Boston,MA

In [22]:
df_demand_area = (
    df_areas
    .reset_index(drop=True)
    .join(
        df_demand.set_index(['city', 'state_id']), 
        on=['city', 'state_id'], 
        how='right')
    .reset_index(drop=True)
)

In [23]:
df_demand_area.head()

,CBSA,NAME,STCOU,county,state_id,city,population_proper,lat,lng,company_name,location,partition,title,level,salary_est
0,14260.0,"Ada County, ID",16001.0,Ada,ID,Boise,0.0,43.6135,-116.2035,Dxc-Technology,"Boise, ID","cyber+security-senior_level-$120,000",Segment Chief Information Security Officer- Pu...,senior_level,senior_level
1,14260.0,"Ada County, ID",16001.0,Ada,ID,Boise,0.0,43.6135,-116.2035,General-Dynamics-Information-Technology,"Boise, ID","cyber+security-senior_level-$120,000",Cyber O&M Engineer,senior_level,senior_level
2,14260.0,"Ada County, ID",16001.0,Ada,ID,Boise,0.0,43.6135,-116.2035,General-Dynamics-Information-Technology,"Boise, ID","cyber+security-senior_level-$120,000",Cyber O&M Engineer,senior_level,senior_level
3,14260.0,"Ada County, ID",16001.0,Ada,ID,Boise,0.0,43.6135,-116.2035,Dxc-Technology,"Boise, ID","cyber+security-senior_level-$120,000",Segment Chief Information Security Officer- Pu...,senior_level,senior_level
4,14260.0,"Ada County, ID",16001.0,Ada,ID,Boise,0.0,43.6135,-116.2035,General-Dynamics-Information-Technology,"Boise, ID","cyber+security-senior_level-$120,000",Cyber O&M Engineer,senior_level,senior_level

In [24]:
len(df_demand)

15310

In [25]:
df_demand_area['jobs'] = 1
df_demand_count = pd.DataFrame(df_demand_area.groupby('CBSA').count()['jobs'].reset_index())

### Supply

In [26]:
df_supply = pd.read_csv(os.path.join(DATA_DIR, 'resumes_cyber+security_all_partitions.tsv'), sep='\t')
df_supply = df_supply[df_supply['location'].apply(lambda x: isinstance(x, str) and ', ' in x)]
df_supply['city'] = df_supply['location'].apply(lambda x: x.split(', ')[0])
df_supply['state_id'] = df_supply['location'].apply(lambda x: x.split(', ')[1])
df_supply = df_supply[['experience', 'company', 'degree', 'partition', 'city', 'state_id']]

In [27]:
df_supply['indeed_experience'] = df_supply['partition'].apply(lambda x: x.split('-')[-2])
df_supply['indeed_degree'] = df_supply['partition'].apply(lambda x: x.split('-')[-1])

In [28]:
df_supply['indeed_degree'].unique()

array(['bachelor', 'master', 'associate', 'doctor', 'diploma'], dtype=object)

In [29]:
df_supply = df_supply[df_supply['indeed_experience'].isin(indeed_experience_filter)]
df_supply = df_supply[df_supply['indeed_degree'].isin(indeed_degree_filter)]

In [30]:
df_supply.head()

,experience,company,degree,partition,city,state_id,indeed_experience,indeed_degree
4800,Senior Principal Cyber Security Engineer,Smiths Medical ASD,Certification,resumes-cyber+security-exp_25_60-master,Hudson,WI,exp_25_60,master
4802,Night Auditor,Even Hotel,MS,resumes-cyber+security-exp_25_60-master,Melbourne,FL,exp_25_60,master
4803,IT Analyst,E2 Labs,Master's,resumes-cyber+security-exp_25_60-master,Manchester,NH,exp_25_60,master
4804,Computer Engineer (0854) GS-13,"US Army, USNORTHCOM",Masters of Science,resumes-cyber+security-exp_25_60-master,Castle Rock,CO,exp_25_60,master
4805,Information System Security Officer,Raytheon Missile Systems,Associate of Applied Science,resumes-cyber+security-exp_25_60-master,Gilbert,AZ,exp_25_60,master

In [31]:
df_supply_area = (
    df_areas
    .reset_index(drop=True)
    .join(
        df_supply.set_index(['city', 'state_id']), 
        on=['city', 'state_id'], 
        how='right')
    .reset_index()
)

In [32]:
# df_supply_area['CBSA'] = df_supply_area['CBSA'].astype(int)

In [33]:
df_supply_area.head()

,index,CBSA,NAME,STCOU,county,state_id,city,population_proper,lat,lng,experience,company,degree,partition,indeed_experience,indeed_degree
0,7,14260.0,"Ada County, ID",16001.0,Ada,ID,Boise,0.0,43.6135,-116.2035,Senior Programmer,Shangrila Microsystem,MS in Computer Science,resumes-cyber+security-exp_25_60-master,exp_25_60,master
1,7,14260.0,"Ada County, ID",16001.0,Ada,ID,Boise,0.0,43.6135,-116.2035,Senior Programmer,Shangrila Microsystem,MS in Computer Science,resumes-cyber+security-exp_25_60-master,exp_25_60,master
2,7,14260.0,"Ada County, ID",16001.0,Ada,ID,Boise,0.0,43.6135,-116.2035,Senior Programmer,Shangrila Microsystem,MS in Computer Science,resumes-cyber+security-exp_25_60-master,exp_25_60,master
3,7,14260.0,"Ada County, ID",16001.0,Ada,ID,Boise,0.0,43.6135,-116.2035,Senior Programmer,Shangrila Microsystem,MS in Computer Science,resumes-cyber+security-exp_25_60-master,exp_25_60,master
4,7,14260.0,"Ada County, ID",16001.0,Ada,ID,Boise,0.0,43.6135,-116.2035,Senior Programmer,Shangrila Microsystem,MS in Computer Science,resumes-cyber+security-exp_25_60-master,exp_25_60,master

In [34]:
df_supply_area['resumes'] = 1
df_supply_count = pd.DataFrame(df_supply_area.groupby('CBSA').count()[['resumes']].reset_index())

### Affortability

In [35]:
os.listdir(DATA_DIR)
df_relative_cost = pd.read_csv(os.path.join(DATA_DIR, 'cities_relative_cost.tsv'), sep='\t')
df_relative_cost['location'] = df_relative_cost['city']
df_relative_cost = df_relative_cost.drop(columns=['city'], axis=1)[['location', 'relative_cost']]
df_relative_cost = df_relative_cost.reset_index(drop=True)
df_relative_cost = df_relative_cost[df_relative_cost['location'].apply(lambda x: isinstance(x, str) and ', ' in x)]
df_relative_cost['city'] = df_relative_cost['location'].apply(lambda x: x.split(', ')[0])
df_relative_cost['state_id'] = df_relative_cost['location'].apply(lambda x: x.split(', ')[1])

In [36]:
df_relative_cost_area = (
    df_areas
    .reset_index(drop=True)
    .join(
        df_relative_cost.set_index(['city', 'state_id']), 
        on=['city', 'state_id'], 
        how='right')
    .reset_index()
)

In [37]:
df_relative_cost_area['affortability'] = 1 / df_relative_cost_area['relative_cost']
df_relative_cost_area_mean = df_relative_cost_area[['CBSA', 'affortability']].groupby('CBSA').mean()

In [38]:
df_relative_cost_area_mean.head()

         affortability
CBSA
10180.0       2.180452
10580.0       1.869011
10740.0       2.179520
10900.0       2.033766
11100.0       2.308799

### Poseidon_score

In [39]:
def calc_poseidon_score(df): 
    return (df['resumes'] + df['mean_resumes']) / (df['jobs'] + df['mean_jobs']) * df['affortability']**0.5

#### Pull data together

In [40]:
df_relative_cost_area_mean.head()

         affortability
CBSA
10180.0       2.180452
10580.0       1.869011
10740.0       2.179520
10900.0       2.033766
11100.0       2.308799

In [41]:
df_demand_supply = (
    df_demand_count
    .reset_index(drop=True)
    .join(
        df_supply_count.set_index('CBSA'), 
        how='inner', 
        on='CBSA'))

In [42]:
df_demand_supply.head()

      CBSA  jobs  resumes
0  10420.0     1       10
3  10580.0     1       43
4  10740.0    13       46
5  10900.0    11       21
7  11100.0     9        7

In [43]:
df_supply_demand_relative_cost = (
    df_demand_supply
    .join(
        df_relative_cost_area_mean, 
        how='inner', 
        on='CBSA'))

In [44]:
df_supply_demand_relative_cost.head()

      CBSA  jobs  resumes  affortability
3  10580.0     1       43       1.869011
4  10740.0    13       46       2.179520
5  10900.0    11       21       2.033766
7  11100.0     9        7       2.308799
8  11460.0     3       39       1.768038

In [45]:
df_supply_demand_relative_cost['mean_jobs'] = df_supply_demand_relative_cost['jobs'].mean()
df_supply_demand_relative_cost['mean_resumes'] = df_supply_demand_relative_cost['resumes'].mean()

#### Calculate Poseidon score

In [46]:
df_poseidon = df_supply_demand_relative_cost
df_poseidon['poseidon_score'] = calc_poseidon_score(df_poseidon)
df_poseidon = df_poseidon.sort_values(by='poseidon_score', ascending=False).reset_index(drop=True)

In [47]:
df_poseidon.to_csv(os.path.join(DATA_DIR, 'posoidon_scores.tsv'), sep='\t')

In [48]:
df_poseidon = df_poseidon[(df_poseidon['jobs'] >= min_jobs) & (df_poseidon['resumes'] >= min_resumes)]

In [49]:
poseidon_cols = ['CBSA', 'jobs', 'resumes', 'affortability', 'poseidon_score']

In [50]:
df_poseidon[:10][poseidon_cols]

       CBSA  jobs  resumes  affortability  poseidon_score
0   41700.0    29      291       2.199351        6.487989
1   33100.0    36      275       1.602249        4.977234
2   45300.0    35      242       1.844013        4.961113
4   19100.0   155      636       1.947947        4.822687
5   17820.0    35      187       1.914641        4.325588
6   38300.0    27      174       1.734351        4.281115
8   16980.0   120      432       1.786656        4.032228
9   19820.0    48      197       1.977798        4.029019
10  28140.0     9       79       2.073653        4.010206
11  26900.0    11       89       1.854895        3.867925

In [51]:
df_poseidon[-10:][poseidon_cols]

       CBSA  jobs  resumes  affortability  poseidon_score
87  17140.0    45       33       2.070905        2.166226
89  26420.0   249      342       1.623174        1.925491
90  26620.0   106       81       2.259959        1.887136
91  45060.0    80       56       1.963573        1.830731
92  18140.0   127      118       1.953683        1.830356
93  19380.0   113       61       2.248532        1.645573
94  41940.0   193      207       1.201934        1.446402
95  41860.0   251      276       1.244465        1.445579
96  14460.0   427      324       1.413643        1.109330
97  42660.0   460      156       1.556154        0.695397

##### List of cities rated to be good for hiring

In [68]:
df_top_cities = pd.read_csv(os.path.join(DATA_DIR, 'top_cities.csv'))

In [66]:
df_poseidon.join(
    df_top_cities.set_index('CBSA'), on='CBSA', how='right').sort_values(by='poseidon_score', ascending=False).dropna()

,CBSA,jobs,resumes,affortability,mean_jobs,mean_resumes,poseidon_score,city,County,State,state_name
1,33100.0,36.0,275.0,1.602249,69.30303,139.060606,4.977234,Fort Lauderdale,Broward,FL,Florida
1,33100.0,36.0,275.0,1.602249,69.30303,139.060606,4.977234,Doral,Miami-Dade,FL,Florida
6,38300.0,27.0,174.0,1.734351,69.30303,139.060606,4.281115,Pittsburgh,Allegheny,PA,Pennsylvania
10,28140.0,9.0,79.0,2.073653,69.30303,139.060606,4.010206,Kansas City,Wyandotte,KS,Kansas
35,40900.0,12.0,63.0,1.712498,69.30303,139.060606,3.252295,Folsom,Sacramento,CA,California
38,36540.0,16.0,50.0,2.113289,69.30303,139.060606,3.221929,Omaha,Douglas,NE,Nebraska
71,41620.0,20.0,32.0,2.012675,69.30303,139.060606,2.717507,Salt Lake City,Salt Lake,UT,Utah
78,31080.0,190.0,412.0,1.557777,69.30303,139.060606,2.652433,Santa Ana,Orange,CA,California
91,45060.0,80.0,56.0,1.963573,69.30303,139.060606,1.830731,Canastota,Madison,NY,New York

#### Poseidon score of Bay Area

In [62]:
SF_CBSA = ['10500','10580','10540','41860','34980','41940','41180','26900','18140','35620','24860','38300','25540']

In [63]:
df_sf = df_poseidon[df_poseidon['CBSA'].isin(SF_CBSA)]

In [64]:
df_sf['affortability'] = df_sf['affortability'].mean() / len(df_sf['affortability'])

In [65]:
print('Poseidon score of SF: {:.2f}'.format(calc_poseidon_score(df_sf.sum())))

Poseidon score of SF: 2.51

Which is in the bottom quarter!!!

### Map Poseidon score

In [56]:
df_poseidon_map = (
    df_poseidon[poseidon_cols].join(
        df_areas.set_index('CBSA'), on='CBSA', how='outer')
    .dropna())

In [57]:
len(df_poseidon_map)

8168

In [58]:
[df_poseidon_map['lat'].min(), df_poseidon_map['lat'].max()]

[25.441800000000001, 48.283700000000003]

In [59]:
df_poseidon_map.head()

,CBSA,jobs,resumes,affortability,poseidon_score,NAME,STCOU,county,state_id,city,population_proper,lat,lng
0,41700.0,29.0,291.0,2.199351,6.487989,"Atascosa County, TX",48013.0,Atascosa,TX,Christine,416.0,28.7863,-98.4977
0,41700.0,29.0,291.0,2.199351,6.487989,"Atascosa County, TX",48013.0,Atascosa,TX,Jourdanton,4327.0,28.9139,-98.5410
0,41700.0,29.0,291.0,2.199351,6.487989,"Atascosa County, TX",48013.0,Atascosa,TX,Campbellton,0.0,28.7475,-98.3025
0,41700.0,29.0,291.0,2.199351,6.487989,"Atascosa County, TX",48013.0,Atascosa,TX,Leming,0.0,29.0684,-98.4722
0,41700.0,29.0,291.0,2.199351,6.487989,"Atascosa County, TX",48013.0,Atascosa,TX,Pleasanton,10393.0,28.9636,-98.4940

In [61]:
from bokeh.io import output_file, output_notebook, show
from bokeh.models import (
  GMapPlot, GMapOptions, ColumnDataSource, Circle, LogColorMapper, BasicTicker, ColorBar,
    DataRange1d, PanTool, WheelZoomTool, BoxSelectTool
)
from bokeh.models.mappers import ColorMapper, LinearColorMapper
from bokeh.palettes import Viridis5

map_options = GMapOptions(lat=37.88, lng=-102.23, map_type="roadmap", zoom=3)

plot = GMapPlot(
    x_range=DataRange1d(), y_range=DataRange1d(), map_options=map_options
)
plot.title.text = "Poseidon Scores - with filters!"

# For GMaps to function, Google requires you obtain and enable an API key:
#
#     https://developers.google.com/maps/documentation/javascript/get-api-key
#
# Replace the value below with your personal API key:
plot.api_key = "AIzaSyDnC3LF4mE2tgQ7OPUQ1EVHDsNsQxXUijo"

color_mapper = LogColorMapper(
    palette="Viridis5", low=df_poseidon_map.poseidon_score.min(), high=df_poseidon_map.poseidon_score.max())
# color_mapper = LinearColorMapper(palette=Viridis5)

source = ColumnDataSource(
    data=dict(
        lat=df_poseidon_map.lat.astype(str).tolist(),
        lon=df_poseidon_map.lng.astype(str).tolist(),
#         size=df_poseidon_map.poseidon_score.tolist(),
        size=[5 for v in df_poseidon_map.poseidon_score.tolist()],
        color=df_poseidon_map.poseidon_score.tolist()
    )
)
circle = Circle(x="lon", y="lat", size="size", 
                fill_color={'field': 'color', 'transform': color_mapper}, fill_alpha=0.5, line_color=None)
plot.add_glyph(source, circle)

color_bar = ColorBar(color_mapper=color_mapper, ticker=BasicTicker(),
                     label_standoff=12, border_line_color=None, location=(0,0))
plot.add_layout(color_bar, 'right')

plot.add_tools(PanTool(), WheelZoomTool(), BoxSelectTool())
output_file("poseidon_scores_USA_filters.html")

show(plot)

W-1005 (SNAPPED_TOOLBAR_ANNOTATIONS): Snapped toolbars and annotations on the same side MAY overlap visually: GMapPlot(id='aaa7ff94-bde4-4fa4-ba9b-e325e45b0a8f', ...)